{% extends "inclusive.html" %}
{% load static %}
{% block body %}
  <div class="middle-container p-0">
    <div id="about">
      <img class="mb-5" id="pro" src="https://i.postimg.cc/MHJqtQTM/Body-Editor-20220702-204318142.jpg" alt="Handsome profile picture">
      <h2 >Hello.</h2>
      <p>I am a student as Sardar Patel Institute of Technology, a tech and business enthusiast, an aspriring coder, devloper and a passionate singer/musician.</p>
    </div>
    <div id="show" class="recording">
        <p id="record_text" size="110"><em>Recording which got selected for district and then state level</p></em>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1568976013&color=%2300aabb&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #333300;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-weight: 100;"><a href="https://soundcloud.com/sridhar-a-375805393" style="color: #333300; text-decoration: none;">Sridhar A</a> · <a href="https://soundcloud.com/sridhar-a-375805393/sridhar-sargam-audition-abhimujhmeinkahi-1" style="color: #333300; text-decoration: none;">Sridhar Sargam Abhi mujhme kahi</a></div>
      </div>
      </div>
        <hr class="my-5">

{% endblock body %}