{% extends "inclusive.html" %}
{% load static %}
{% block body %}
  <div class="alert alert-success alert-dismissible fade show mb-14 p-0" role="alert">
  <marquee style="font-family: 'Sacramento',cursive;margin-bottom: 50px;" behavior="scroll" direction="left"><strong>Hello Visitor!</strong> I am open to work, if you like my page and skills, contact me
    </button></marquee>
  </div>
    <div id="hom" class="container">
      <img class="profile" src="/static/img/profile.jpg" alt="profile">
      <img class="topcl" src="/static/img/cloud.png" alt="">
      <h1>Yo! Sri here</h1>
      <h3 class="desc">A programmer, developer, passionate singer/musician, nature enthusiast</h3>
      
      <img class="bottomcl" src="/static/img/cloud.png" alt="">
      <img src="/static/img/mountain.png" alt="">
      
    </div>
      
      <div class="contact-me">
        <div class="change-rule"><hr >
        <h2>Get In Touch</h2></div>
        <h3>If you wanna vibe or share love for any of my interests too</h3>
        <p class="end-pad" >Wanna get to know each other? Wanna talk about some interests or share some point of views!</p>
        <p><a class="BUTTON_QDJ" id="cont" href="/contact"> CONTACT ME</a>      </div>
    </div>
    
    
    
{% endblock body %}
